body {
    background-color:rgb(236, 235, 235);
    margin: 0px;
}

a:link, a:visited {
    text-decoration: none;
  }

.logo {
    width: 50%;
    height: 20%;
    margin-left: 25%;
}

.row {
    text-align: center;
    font-weight:lighter;
    color: white;
    justify-content: center;
}

.col {
    color: white;
}

.c {
    order:1;
    background-color: rgb(4, 4, 155);
    height: 30px;
    justify-content: center;
}

.slider {
    background-color: black;
    margin-top: 50px;
}

.c1a {
    width: auto;
    height: 500px;
    order: 1;
    background-color: black;
    padding: 50px;
}

.c2a {
    order: 2;
    background-color: black;
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: left;
    padding: 50px;
}

.form {
    background-color: black;
}